{% extends "webtemplate_dbca/base_b5.html" %}
{% load static %}

{% load users %}
{% load utils %}
{% is_internal as is_internal_login %}
{% is_leaseslicensing_admin as is_leaseslicensing_admin_user %}
{% can_show_tests as show_tests %}
{% system_maintenance_due as system_maintenance_due %}
{% system_name_short as short_name %}
{% dept_name as department_name %}
{% system_name as system_name %}
{% system_name_short as system_name_short %}
{% support_email as support_email %}
{% is_payment_officer as is_payment_officer %}
{% build_tag as build_tag %}

<!DOCTYPE html>
<html lang="en">
    <body>
        {% block header_top_menu %}
        css  {{ vite_css }}
        {% endblock %}
        {% block extra_css %}
        <link rel="stylesheet" href="{% static vite_css %}?v={{build_tag}}">
        {% endblock %}
        {% block custom_js %}
            <script type="module" src="{% static vite_vendor %}?v={{build_tag}}"></script>
            <script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js" crossorigin="anonymous"></script>
            <script language="javascript">
                    var env = {
                        "kmi_server_url": "{{ KMI_SERVER_URL }}"
                    }

            </script>
            {% if app_build_url %}
                <script type="module" src="{{ app_build_url }}"></script>
            {% else %}
    <script type="module" src="{% static vite_file %}?v={{build_tag}}"></script>
            {% endif %}

        {% endblock %}
        {% block menu_spacer %}
            <br>
        {% endblock %}
    </body>
</html>


